<header class="header">
<nav class="nav">
  <div class="left-block">
    <div class="circle-collection">
      <img src="../../../assets/header-img/collection-circle.svg" alt="circle">
      <a href="">Коллекция</a>
    </div>
    <div class="plus-add">
      <img src="../../../assets/header-img/add-plus.svg" alt="plus">
      <a href="">Добавить</a>
    </div>
  </div>

  <div class="mini-logo">
    <img src="../../../assets/header-img/mini-logo.svg" alt="mini-logo">
  </div>

  <div class="right-block">
    <div class="loupe-search">
      <img src="../../../assets/header-img/loupe.svg" alt="loupe">
      <a href="">Поиск</a>
    </div>
    <img src="../../../assets/header-img/avatar.svg" class="avatar" alt="avatar">
  </div>
</nav>
</header>
