<header class="header__wrapper">
  <div class="header">
    <nav>
      <a routerLink="/collection" class="link">
        <img src="/assets/header-img/collection-circle.svg" alt="circle">
        Коллекция
      </a>

      <a routerLink="/" class="link__active link">
        <img src="/assets/header-img/add-plus.svg" alt="plus">
        Добавить
      </a>

    </nav>

    <a routerLink="/" class="logo">
      <img src="/assets/header-img/mini-logo.svg" alt="mini-logo">
    </a>

    <div class="actions">
      <nav>
      <a routerLink="/" class="link">
        <img src="/assets/header-img/loupe.svg" alt="loupe">
        Поиск
      </a>
      </nav>
      <img class="avatar" src="/assets/header-img/avatar.svg" alt="avatar">
    </div>

  </div>

</header>
